/* estilo principal para a página morador */

body {
    margin: 0;
    padding-top: 60px; /* espaço para o header */
    font-family: Arial, sans-serif;
    background-color: #18264d;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #18264d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.2em;
}
header .nav {
    display: flex;
    gap: 20px;
    background-color: #d9edf7;
    font-style:bold;
    height: 30px;
    border-radius: 20px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
}

header .nav a {
    color: #1f1638;
    text-decoration: none; /* remove sublinhado */
    padding: 0 10px;  
}

header .nav a:hover {
    text-decoration: underline;
}

.content {
    background-color: #f4f6fd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #32314e;
    margin: 20px auto;
}

.content h2 {
    color: #282242;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #04000c;
    font-weight: bold;
}

select, input[type="date"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #201f3d;
    border-radius: 3px;
    background-color: #1a1a2e;
    color: #ffffff;
    box-sizing: border-box;
}

select:focus, input:focus {
    outline: none;
    border-color: #0f3460;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #0f3460;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    box-sizing: border-box;
}

.btn-submit:hover {
    background-color: #16213e;
}

.reservas-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #0c0c1a;
}

.footer-image {
    width: 100%;
    height: 20%;
    display: block;
    margin-top: 20px;
}


/* telas maiores */
@media (min-width: 768px) {
    header {
        height: 70px;
    }

    header h1 {
        font-size: 1.5em;
    }
    
    .content {
        max-width: 600px;
        margin: 20px auto;
    }
    
    .reservas-container {
        grid-template-columns: repeat(2, 1fr);
    }
}